


:root {
    --azul-dnc: #0c70f2;
    --preto-dnc: #303030;
    --cinza-dnc: #c9c9c9;
    --fonte-padrao: 'Inter', sans-serif;
}


body {
    margin: 0;
    padding: 0;
    background: linear-gradient(180deg, rgba(12, 112, 242, 0.5) 19.91%, rgba(12, 112, 242, 0) 24.84%), #303030;
    background-repeat: no-repeat;
}
#principal{
    background-color: #303030;
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #bababa;
}

#principal a {
    color: #fff;
    font-family: Inter, sans-serif;
    text-decoration: none;
    font-size: 25px;
    font-weight: normal;
    margin: 0 20px;
    
}

#principal div a:hover {
    color: #cccccc;
}

#menu{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    width: 45%;
    margin-left: 5%;
}

#principal button {
    margin-right: 5%;
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    font-weight: 600;
    color: #fff;
    background-color: #0c70f2;
    width: 80px;
    height: 40px;
    border: 0px;
    align-items: center;
    box-shadow: 3px 2px 4px rgba(12, 112, 242, 0.25);
    cursor: pointer;
}

section{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 100px;
    margin-bottom: 100px;
}

header {
    color: white;
    font-family: var(--fonte-padrao);
}

header h1 {
    text-transform: uppercase;
    font-size: 80px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 20px;
}

header h2{
    text-align: center;
    font-size: 40px;
    font-weight: 700;
    margin-bottom: 100px;
}

header .invert {
    background-color: black;
    font-weight: bold;
    padding: 5px;
}


form {
    color: white;
    font-family: var(--fonte-padrao);
    font-size: 30px;
    font-weight: 600;
    width: 600px;
}

.form-group {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    margin-bottom: 10px;
}

.form-group input{
    border-radius: 10px;
    padding: 10px;
    border: 0px;
    height: 30px;
    font-size: 20px;
    background-color: rgba(255, 255, 255, 0.9);
}

.form-group label {
    margin: 10px 0px 10px 0px;
}

form input::placeholder {
    color: rgba(57, 57, 57, 0.5);
}

.checkbox-itens label {
    font-size: 25px;
}

.checkbox-itens {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

input[type="checkbox"] {
    transform: scale(1.7);
}

input[type="submit"] {
    background-color: rgba(12, 112, 242, 0.9);
    width: 100%;
    height: 56px;
    border-radius: 10px;
    color: white;
    font-size: 32px;
    font-weight: 600;
    margin-top: 100px;
    box-shadow: 0px 6px 4px rgba(12, 112, 242, 0.25);
    cursor: pointer;
}

footer {
    width: 100%;
    background-color: #0c70f2;
    height: 450px;
}

footer .linha1 {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

footer ul{
    list-style: none;
    margin: 0px;
    padding: 0px;
}

footer nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 350px;
}

footer h5{
    text-align: center;
    color: white;
    font-family: var(--fonte-padrao);
    font-size: 20px;
    font-weight: 800;
    padding: 10px 10px 10px 10px;
    text-decoration: none;
    background-color: black;
    border-radius: 10px;
    margin-bottom: 15px;
}

footer ul li{
    text-align: center;
    font-family: var(--fonte-padrao);
    font-size: 18px;
    font-weight: 600;
    color: white;
    padding: 10px;
    margin: 20px 0px 20px 0px;
}



footer ul li a{
    text-decoration: none;
    color: white;
}

footer ul li a:hover{
    color: var(--cinza-dnc);
}

footer .endereco {
    font-family: var(--fonte-padrao);
    font-size: 18px;
    font-weight: 600;
    color: white;
    width: 20%;
    text-align: center;
}

footer .linha2 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    margin: 0px;
    padding: 10px;
    margin-top: 50px;
}

footer .linha2 a{
    font-family: var(--fonte-padrao);
    color: white;
    font-size: 18px;
    font-weight: 600;
    text-decoration: none;
    padding: 5px;
}

footer .linha2 a:first-child{
    border-right: 3px solid white;
}

footer .linha2 a:hover{
    color: var(--cinza-dnc);
}

@media only screen and (max-width: 600px) {
    #principal {
        flex-direction: column;
        height: auto;
    }

    #menu {
        flex-direction: column;
        width: 100%;
        margin: 0px;
    }

    #menu a {
        display: flex;
        height: 50px;
        align-items: center;
    }

    #principal button {
        width: 100%;
        margin: 0px;
    }

    section h1 {
        font-size: 38px;
    }

    section h2 {
        font-size: 28px;
        padding-right: 15px;
        padding-left: 15px;
    }

    form {
        width: 95%;
        font-size: 20px;
    }

    .checkbox-itens label {
        font-size: 15px;
    }

    footer .linha1 {
        flex-direction: column;
    }

    footer .endereco {
        width: 95%;
        margin-bottom: 20px;
    }




}